/* formStyles.css */

.input-container {
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px; /* Increased margin-bottom for additional space */
    border: 2px solid black;
    padding: 20px;
    width: 80%; /* Adjust the width as needed */
    margin: 0 auto; /* Center the form horizontally */
     
}

.input-container div {
    margin-bottom: 10px;
    
    display: flex;
    align-items: center;
    justify-content: center;

}

.input-container label {
    width: 100px;
    margin-right: 5px;
    text-align: right;

}

.input-container input {
    width: 300px;
    padding: 5px;

}

/* Styles for all buttons inside .input-container */
.input-container button {
    padding: 8px 16px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.input-container button:hover {
    background-color: #0056b3;
}

/* Specific styles for the signup button */
.input-container .submit-button {
    margin-top: 10px;
}

.input-container .switch-to-signup-button {
 padding: 8px 16px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
     text-decoration: none;
}

.input-container .switch-to-login-button {
    padding: 8px 16px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.admin-button{
margin-top: 10px;
}

.admin-text{

margin-top: 20px;
}
